.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper .swiper-slide {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.simple-arrow .swiper-button-next,
.simple-arrow .swiper-button-prev {
  color: #fff;
  width: 15px;
  height: 15px;
  top: 30px;
}
