.swiper-slide {
  display: flex;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background: none;
  background-size: cover;
  background-position: center;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
}

.mySwiperFocus .swiper-slide:not(.swiper-slide-thumb-active) {
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.custom-arrow .swiper-button-next,
.custom-arrow .swiper-button-prev {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 3px;
  border-radius: 8px;
  width: 31px;
  height: 35px;
}

@media (max-width: 1024px) {
  .swiper-slide img {
    object-fit: cover;
  }
}
